body {
    margin: 0px;
    padding: 0;
}

.Back {
    height: 700px;
    width: 100%;
}

/* .background {
    background-color: black transparent;
} */

.Header {
    font-size: 80px;
    font-weight: 600px;
    text-align: center;
    color: rgb(238, 241, 241);
    margin-top: -600px;
}

.headpara {
    font-size: 20px;
    text-align: center;
    color: rgb(209, 218, 27);
}

.Head1 {
    margin-bottom: 10px;
}

.location {
    align-items: center;
    margin-left: 45%;
    padding-top: 23px;

}

.button1 {
    color: rgb(12, 12, 12);
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    font-weight: 800;
}

.second-part {
    margin-top: 300px;
    text-align: center;
}

#head2 {
    font-size: 55px;
    font-weight: 700;
}

#today {
    text-decoration: underline;
}

#head2para {
    color: gray;
    font-size: 20px;
    font-weight: 400;
}

.money {
    display: flex;
    margin-left: 302px;
}

.lineitems {
    margin-left: 20px;
    background-color: rgb(245, 238, 236);
    padding: 25px 40px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
    color: rgb(61, 60, 60);
}

.another {
    padding: 20px 35px;
}

#highlighted {
    color: tomato;
    margin-left: 20px;
    background-color: rgb(253, 220, 215);
    padding: 25px 45px;
    font-size: 18px;
    font-weight: 800;
    border: 3px solid rgb(254, 86, 56);
    border-radius: 5px;
    text-align: center;
}

.line {
    /* margin-left: 45%; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.field {
    height: 40px;
    width: 400px;
    margin-left: 35%;
    border: transparent;
}

.line-2 {
    width: 58%;
    margin-left: 20%;
    color: gray;
}

.secdonation {
    margin-top: 20px;
}

.Donate {
    margin-left: 43.4%;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: tomato;
}

#plan {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
}

#plan2 {
    text-align: center;
    color: rgb(112, 111, 111);
    margin-top: -15px;
}

.containers {
    display: flex;
    margin: 40px;
}

.box1 {
    margin-right: 50px;
    margin-left: 70px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.box2 {
    margin-right: 50px;
    margin-left: 70px;
    padding: 30px;
    background-color: rgba(170, 237, 237, 0.967);
    border-radius: 10px;
}

.box3 {
    margin-right: 50px;
    margin-left: 70px;
    padding: 10px;
    background-color: rgb(197, 248, 199);
    border-radius: 10px;
}

.two {
    margin-left: 15px;
}

.icon img {
    height: 70px;
    width: 70px;
    margin-top: 20px;
    margin-left: 20px;
}

.second img {
    margin-left: 10px;
    margin-top: 10px;
}

.head2 {
    color: gray;
}

.third {
    display: flex;
}

.third img {
    width: 200px 200px;
}